body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 245, 245);
}

.menu{
    background-color: rgb(121, 121, 255);
    color: white;
    position: fixed;
    width: 150px;
}

.menu,.articlellista{
    height: 100%;
}

.placeholderDivSeparacion{
    width: 1500px;
    height: 1000px;
}

.listamenu{
    margin-right: 5px;
    list-style-type: none;
    
}

.articlellista{
    align-items: center;
    height: 100%;
    margin-top: -7px;
    margin-right: -8px;
}

.navcrearcercar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 70px;
}

.divcrear{
    margin-left: 2%;
    margin-right: 2%;
}

.centrar{
    margin-left: 50%;
}

input{
    border-radius: 5px;
    border-color: rgb(122, 122, 122);
    height: 25px;
    transition: background-color 0.3s;
}

input:hover{
    background-color: rgb(238, 238, 238);
}

button{
    background-color: rgb(121, 121, 255);
    height: 30px;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    transition: background-color 0.3s;
}

button:hover{
    background-color: rgb(198, 198, 255);
}

li{
    transition: color 0.3s;
}

li:hover{
    color: rgb(233, 233, 233);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tasques{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 500px;
    border-radius: 5px;
}

.navfor{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 500px;
    border-radius: 5px;
    margin-left: 40%;
}

a{
    color: white;
    text-decoration: none;
}

textarea{
    border-radius: 5px;
    transition: ease background-color 0.3s;
}

textarea:hover{
    background-color: rgb(238, 238, 238);
}

select{
    border-radius: 5px;
    transition: ease background-color 0.3s;
}

select:hover{
    background-color: rgb(238, 238, 238);
}

.llista{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 690px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 490px;
    text-align: center;
}

.divlist{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
}

.navlist{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.colorcercle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #999;
}

.borrarelement{
    background-color: rgb(167, 44, 44);
}

.navtasca{
    border-radius: 10px;
    width: 300px;
}

.divtasca{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.navtascaalt{
    border-radius: 10px;
    width: 300px;
    background-color: rgb(255, 141, 141);
}

.navtascamid{
    border-radius: 10px;
    width: 300px;
    background-color: rgb(255, 247, 141);
}

.navtascabaix{
    border-radius: 10px;
    width: 300px;
    background-color: rgb(141, 255, 175);
}